<footer class="footer section-padding--half bg-alpha">
    <div class="footer__container grid">
        <p>&copy;{{ site.time | date: "%Y" }} {{ site.title }}</p>
        {% if site.email or site.social %}
        <ul class="footer__social">
            {% if site.email %}
            <li><a class="fas fa-envelope" href="mailto:{{ site.email }}"></a></li>
            {% endif %}
            {% for social in site.social %}
            <li><a class="fab fa-{{ social[0] }}" href="{{ social[1] }}" target="_blank"></a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</footer>

<script type="text/javascript" src="{{ '/assets/js/jquery.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ '/assets/js/jquery.fitvids.js' | prepend: site.baseurl }}"></script>

<script>
    $(document).ready(function () {
        $('iframe[src*="youtube"]').parent().fitVids();
    });
</script>

<script>
    $(document).ready(function () {
        $('iframe[src*="player.vimeo.com"]').parent().fitVids();
    });
</script>

<script>
    $('.webicons_day_switch').click(function () {
        $('html').toggleClass('no-scroll');
        $(this).toggleClass('active');

        $('.webicons_night').removeClass('webicons_show')
        $('.webicons_day').removeClass('webicons_hide');

        $('.webicons_night').addClass('webicons_hide');
        $('.webicons_day').addClass('webicons_show');
    });

    $('.webicons_night_switch').click(function () {
        $('html').toggleClass('no-scroll');
        $(this).toggleClass('active');

        $('.webicons_day').removeClass('webicons_show')
        $('.webicons_night').removeClass('webicons_hide');

        $('.webicons_day').addClass('webicons_hide');
        $('.webicons_night').addClass('webicons_show');
    });
</script>