<header class="header">
  <a href="/">
    <figure class="header__img">
      <img src="/assets/images/logo2.png" alt="Relative Minds Logo"/>
    </figure>
  </a>
  <nav>
      <ul class="header__list">
          <li><a data-scroll href="/#blog">Blog</a></li>
          <li><a data-scroll href="/roster">Roster</a></li>
          <li><a data-scroll href="https://teespring.com/en-GB/stores/relative-minds-apparel">Shop</a></li>
          <li><a data-scroll href="/apply">Apply</a></li>
          <li><a data-scroll href="/resources">Resources</a></li>
      </ul>
  </nav>
</header>
