---
layout: default
title: Dibdab test
permalink: /dibdabtest/

bodymovins:
  - dibdab-logo4
---
<section class="mast">
    <header class="mast__header">
    </header>
    <div class="mast__img bg-black">
        <div class="absolute-bg2" style="background-image: url('/assets/images/work/aeflame/img_03.png');"></div>
    </div>
</section>
<div class="grid--double">
    <section class="post section-padding--half bg-dibdab" itemprop="articleBody">

        {% if page.bodymovins.size > 0 %}
        <section class="section-padding bg-black">
            <div class="postgrid">
                <div class="columns-wrapper">
                    <div class="columns">
                        {% for bodymovin in page.bodymovins %}
                        <div class="postcolumn2">
                            <div class="postcolumn2__lottie">
                                <div class="lottie" id="{{ bodymovin }}"></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="bodymovinArraySize" style="display: none;"> {{ page.bodymovins.size }} </div>
            <div id="bodymovinArray" style="display: none;"> [{% for bodymovin in page.bodymovins %}'{{ bodymovin }}'{% if forloop.last == false %}, {% endif %}{% endfor %}]</div>
        </section>

        <script>
            function buildIcons() {
                var bmArray = ['dibdab-logo4'];
                var anim;
                for (var i = 0; i < bmArray.length; i += 1) {
                    var bmArrayData = {
                        container: document.getElementById(bmArray[i]),
                        renderer: 'svg',
                        loop: true,
                        autoplay: true,
                        path: '/assets/bodymovin/' + bmArray[i] + '.json'
                    };
                    anim = bodymovin.loadAnimation(bmArrayData);
                    anim.play();
                }
            }
            buildIcons();
        </script>
        {% endif %}
    </section>
</div>