---
layout: default
title: Downloads
description:
permalink: /downloads/
rscs:
  - rsc-type: "After Effects"
    rsc-items:
    - rsc-name: "Spirograph Project File"
      rsc-link: "http://slykuiper.com/SPIROGRAPH/"
      rsc-img: "/assets/images/videos/va7iik/guide_dm.png"
      rsc-description: "An animated spirograph built in after effects with a few parameters."
    - rsc-name: "Floral Project File"
      rsc-link: "http://slykuiper.com/FLORAL/"
      rsc-img: "/assets/images/videos/va7iik/guide_megui.png"
      rsc-description: "An animated energy/flow effect using default plugins, inset any shape/logo/text."
    - rsc-name: "TOPO Preset"
      rsc-link: "http://slykuiper.com/TOPO/"
      rsc-img: "/assets/images/videos/va7iik/guide_megui.png"
      rsc-description: "Originally built for a topographic map design, I expanded on this to create cool trippy visuals."
    - rsc-name: "Slykuiper Toolkit Script"
      rsc-link: "https://github.com/Slykuiper/slykuipertoolkit"
      rsc-img: "/assets/images/videos/va7iik/guide_megui.png"
      rsc-description: "Personal script for easy access to my most used expressions and actions."
  - rsc-type: "Game Mods"
    rsc-items:
    - rsc-name: "MW2 MVM Mod"
      rsc-link: "https://www.dropbox.com/s/kc62cs7txv3f3ku/slysmvmmod.rar?dl=0"
      rsc-img: "/assets/images/videos/edits/sly_amen1.jpg"
      rsc-description: "Modern Warfare 2 movie mod"
    - rsc-name: "BO1 SP MVM Mod"
      rsc-link: "https://www.dropbox.com/s/8fdulf2nyqm8lk9/sp_sly.rar?dl=0"
      rsc-img: "/assets/images/videos/edits/t5sp.jpg"
      rsc-description: "Black Ops 1 singleplayer movie mod"
    - rsc-name: "BO1 ZM MVM Mod"
      rsc-link: "https://www.dropbox.com/s/rjx40dbcgiakuik/zm_sly.rar?dl=0"
      rsc-img: "/assets/images/videos/edits/t5zm.jpg"
      rsc-description: "Black Ops 1 zombies movie mod"
---
<section class="mast">
    <header class="mast__header">
        <h1>Resources</h1>
        <span>Here you'll find downloads to resources I've created and publicly released.</span>
    </header>
    <div class="mast__img bg-black">
        <div class="absolute-bg2" style="background-image: url('/assets/images/videos/edits/sly_amen7.jpg');"></div>
    </div>
</section>

<section class="section-padding bg-black">
    <div class="grid">
        {% for rsc in page.rscs %}
        <h2 class="section-header">{{ rsc.rsc-type }}</h2>
        <ul class="container-triple" itemscope itemtype="http://schema.org/Blog">
            {% for item in rsc.rsc-items %}
            <li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
                <a class="preview__link" href="{{ item.rsc-link }}" itemprop="url">
                    <div class="preview__img bg-white wow slideInUp">
                        <figure class="absolute-bg wow fadeIn" data-wow-delay="900ms" style="background-image: url('{{ item.rsc-img }}');"></figure>
                    </div>
                    <div class="preview__container bg-alpha">
                        <div>
                            <h4 class="wow fadeInUp" data-wow-delay="150ms" itemprop="name">{{ item.rsc-name }}</h4>
                            <p class="preview__excerpt wow fadeInUp" data-wow-delay="300ms" itemprop="description">{{ item.rsc-description | strip_html | truncatewords: 30 }}</p>
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</section>

<section class="section-padding bg-alpha">
    <div class="grid">
        <div class="resources">
            <div class="resources__text">
                If you have suggestions of projects you'd like to have available for download, feel free to email me.
            </div>
        </div>
    </div>
</section>
