/**
 * Absolute Background Cover
 */
.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.absolute-bg2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

#video-background {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

/**
 * Containers
 */
.container-double {
  @include flex-grid(1, 2, $pad: 1em);

  margin-top: 1em;

  list-style-type: none;

  @media (min-width: $mq-sm) {
    margin-top: 2em;
  }

  @media (min-width: $mq-xxl) {
    max-width: $mq-xl;
    margin-right: auto;
    margin-left: auto;
  }
}

.container-triple {
  @include flex-grid(1, 3, $pad: 1em);

  margin-top: 1em;

  list-style-type: none;

  @media (min-width: $mq-sm) {
    margin-top: 2em;
  }

  @media (min-width: $mq-xxl) {
    max-width: $mq-xxl;
    margin-right: auto;
    margin-left: auto;
  }
}

.container-quadruple {
  @include flex-grid(1, 3, $xxl: 4, $pad: 1em);

  margin-top: 1em;

  list-style-type: none;

  @media (min-width: $mq-sm) {
    margin-top: 2em;
  }

  @media (min-width: $mq-xxl) {
    width: $mq-xxl;
    margin: 2em auto 0;
  }
}

.container-btn {
    max-width: $mq-md;
    margin: 1em auto 0;
    padding-top: 2em;
    text-align: center;
    border-top: 1px solid rgba($color-white, 0.1);

    a {
        text-transform: uppercase;
    }
}

.container-tags {
    max-width: $mq-md;
    margin: 0 auto;
    padding-bottom: 1em;
    text-align: center;

    a {
        @include link-posts();
    }
}

/**
 * Buttons
 */
.btn {
  @include btn-slide();
}

/**
 * Color Helpers
 */
.bg-alpha {
  background-color: $color-alpha;
}

.bg-white {
  background-color: $color-white;
}

.bg-grey {
  background-color: $color-grey;
}

.bg-black {
  background-color: $color-black;
}

#bodymovin {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
}

.intro-bm {
    width: 20em;
}

#lottie {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
}

// entry meta used in tags and categories page
.entry-meta {
    font-size: .75rem;
    text-transform: uppercase;
    padding-left: 0;
    display: none; // hide header meta on small screens
    @media screen and (min-width: $mq-xs) {
        display: block;
    }

    a {
        color: lighten($color-black, 45);
    }

    li {
        list-style-type: none;
        display: inline;
    }

    .tag,
    .category {
        display: inline-block;
        background-color: darken($color-white, 3%);
        border-radius: 2px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        margin: 2px 5px;
        font-size: 0.7rem;
        border: none !important;

        span {
            float: left;
            padding: 2px 6px;
        }

        .count {
            background-color: darken($color-white, 8%);
        }

        &:hover {
            background-color: darken($color-white, 8%);
        }
    }
}

.entry-title > a {
    border: none !important;
}