/**
 * About
 */
.about {
    max-width: $mq-sm;
    margin: 2em auto 0;
    overflow: hidden;
    display: inline-block;

    @media (min-width: $mq-sm) {
        margin-top: 3em;
    }

    &__text {
        margin-bottom: 3em;
        font-size: 1.5em;
        text-align: left;
        left: 50%;
        text-transform: uppercase;

        & a {
            @include link-posts();
        }
    }

    &__subtext {
        margin-bottom: 30px;
        font-size: 1.75em;
        text-align: left;
        left: 50%;

        & a {
            @include link-posts();
        }
    }

    p {
        text-align: left;
        left: 50%;
        margin-bottom: 0.5em;

        & a {
            @include link-posts();
        }
    }
}

.about-logo {
    max-width: $mq-sm;
    margin: 2em auto 0;
    overflow: hidden;
    display: inline-block;

    & figure {
        display: inline-block;
    }
}
.columns-wrapper {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.column {
    flex: 1;
    border: 1px solid gray;
    margin: 2px;
    padding: 10px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &__img {

        img {
            height: 100%;
            width: 100%;
        }
    }
}

@media screen and (max-width: 980px) {
    .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;

        &:nth-last-child(2) {
            margin-right: 0;
        }

        &:last-child {
            flex-basis: 100%;
            margin: 0;
        }
    }
}

@media screen and (max-width: 680px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}

.about-list {
    /*max-width: $mq-sm;
    margin: 2em auto 0;*/
    overflow: hidden;
    display: inline-block;
}

.social {
    list-style-type: none;
    display: inline;

    & li {
    }

    & > * {

        &:not(:last-child) {
            margin-right: 0.5em;
        }

        a {
            transition: color 0.3s ease-in-out;

            &:hover,
            &:active,
            &:focus {
                color: $color-rm-red;
            }
        }
    }
}