/**
 * Mast
 */
.mast {
    position: relative;

    @media (min-width: $mq-md) {
        display: flex;
        height: 50vh;
    }

    &__header {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        text-transform: uppercase;
        padding: 1em;
        text-align: center;
        transform: translate(-50%, -50%);

        h1 {
            font-size: 3.75em;
            font-weight: 500;
            animation: fadeIn 3s both 0.6s;
            text-shadow: 0px 0px 1px $color-black;

            @media (min-width: $mq-md) {
                font-size: 5.5em;
            }
        }

        span {
            display: block;
            margin-top: 0.25em;
            font-size: 1.1em;
            animation: fadeInUp 3s both 0.9s;
            text-transform: none;

            @media (min-width: $mq-sm) {
                font-size: 1.25em;
            }
        }
    }

    &__img {
        position: relative;
        padding-top: 120%;
        opacity: 0.2;

        @media (min-width: $mq-md) {
            flex-basis: 50%;
            max-width: 200%;
            padding-top: 0;
        }

        &:first-child {
        }

        &:last-child {
            display: none;

            @media (min-width: $mq-md) {
                display: block;
            }
        }
    }
}

.mast-fourohfour {
    position: relative;

    @media (min-width: $mq-sm) {
        display: flex;
        height: 40vh;
    }

    @media (min-width: $mq-md) {
        display: flex;
        height: 80vh;
    }

    &__header {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        text-transform: uppercase;
        padding: 1em;
        text-align: center;
        transform: translate(-50%, -50%);

        h1 {
            font-size: 3.75em;
            font-weight: 500;
            animation: fadeIn 3s both 0.6s;
            text-shadow: 0px 0px 1px $color-black;

            @media (min-width: $mq-md) {
                font-size: 5.5em;
            }
        }

        span {
            display: block;
            margin-top: 0.25em;
            font-size: 1.1em;
            animation: fadeInUp 3s both 0.9s;
            text-transform: none;

            @media (min-width: $mq-sm) {
                font-size: 1.25em;
            }
        }
    }
}

.dot {
    width: 25px;
    height: 25px;
    position: absolute;
    background: url(https://slykuiper.com/assets/images/logo2.png);
    background-size: 100% 100%;
}