/**
 * Post
 */
.post-mast {
  position: relative;

  padding-top: 60%;

  @media (min-width: $mq-md) {
    height: calc(100vh - 4em);
    padding-top: 0;
  }

  .absolute-bg {
    animation: fadeIn 3s both 0.3s;
  }
}

.post {

  @media (min-width: $mq-md) {
    margin-top: -6em;
  }

  @media (min-width: $mq-xxl) {
    max-width: $mq-xl;
    margin-right: auto;
    margin-left: auto;
  }
}

.post-header {
  margin-bottom: 1em;

  text-align: center;

  @media (min-width: $mq-md) {
    margin-bottom: 3em;
  }

  &__time {
    display: block;
    margin-top: 0.5em;

    font-size: 1.25em;
  }
}

.post-content {
    @media (min-width: $mq-lg) {
        margin-right: 2em;
        margin-left: 2em;
    }

    @media (min-width: $mq-xl) {
        margin-right: 8em;
        margin-left: 8em;
    }



    hr {
        margin-top: 2em;
        margin-bottom: 3em;
        visibility: hidden;
    }

    p {

        &:first-of-type {
            font-size: 1.25em;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        @include link-posts();
    }

    ol, ul {
        margin-bottom: 1em;
        margin-left: 1em;

        & > li {
            position: relative;

            &:before {
                position: absolute;
                left: -1em;
            }

            &:not(:last-child) {
                margin-bottom: 0.25em;
            }
        }
    }

    ol {
        list-style-type: none;
        counter-reset: li;

        & > li:before {
            content: counter(li) ".";
            counter-increment: li;
        }
    }

    figure {
        margin-top: 2em;
        margin-bottom: 2em;
        background-color: $color-black;

        @media (min-width: $mq-sm) {
            margin-top: 2em;
            margin-bottom: 2em;
        }

        img {
            width: 100%;
            margin-bottom: 1em;
        }

        &.sm-center {
            img {
                width: $mq-xs;
                margin: 0 auto;
            }
        }

        &.md-center {
            img {
                width: $mq-md;
                margin: 0 auto;
            }
        }

        &.sm-right {
            img {
                width: $mq-xs;
                float: right;
                margin-left: 1.5em;
            }
        }

        &.sm-left {
            img {
                width: $mq-xs;
                float: left;
                margin-right: 1.5em;
            }
        }

        &.half {
            display: inline-block;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;

            @media (min-width: $mq-md) {
                > a, > img {
                    width: calc(50% - 4px);
                    float: left;
                    margin-left: 1px;
                    margin-right: 1px;
                    box-shadow: inset 0 0px 0 #00ff00;
                }
            }
        }

        &.third {
            display: inline-block;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;

            @media (min-width: $mq-sm) {
                > a, > img {
                    width: calc(33.3% - 6px);
                    float: left;
                    margin-left: 1px;
                    margin-right: 1px;
                    box-shadow: inset 0 0px 0 #00ff00;
                }
            }
        }

        figcaption {
            display: inline-block;
            margin-top: 0.5em;
            text-align: center;
            width: 100%;
            font-size: 0.75em;
        }

        & figure.large-img {

            @media (min-width: $mq-md) {
                margin-right: -16em;
                margin-left: -16em;
            }
        }

        &__tags {
            display: block;
            margin-top: 2em;
            margin-bottom: 2em;
            font-family: $font-header;
            font-weight: 700;
            text-align: center;

            @media (min-width: $mq-sm) {
                margin-top: 3em;
                margin-bottom: 3em;
            }

            a {
                font-family: $font-body;
                font-weight: 400;
            }

            & + .container-btn {
                margin-top: 0;
            }
        }

        .container-btn {
            margin-top: 3em;
        }
    }
}

#postgrid {

}

.vid {
    padding-top: 15px;
    padding-bottom: 50px;
}

.postcolumn {
    flex: 1;
    /* border: 1px solid gray;*/
    margin: 2px;
    padding: 10px;
    max-width: $mq-xs;
    font-size: 0.9em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    a {
        transition: color 0.3s ease-in-out;
        margin: auto 0.5em;

        &:hover,
        &:active,
        &:focus {
            color: $color-rm-red;
        }
    }

    &__inner {
        top: 0;
        left: 0;
        height: $mq-xs;
        width: $mq-xs;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        text-shadow: 0 0 3px #000;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;

        &:hover,
        &:active,
        &:focus {
            opacity: 0.9;
        }

        p {
            padding-top: 9em;
        }
    }
}

.spacer {
    margin: 0.3em;
}

.postcolumn2 {
    /* border: 1px solid gray;*/
    margin: 2px;
    padding: 10px;
    max-width: $mq-xs;
    font-size: 0.9em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    a {
        transition: color 0.3s ease-in-out;
        margin: auto 0.5em;

        &:hover,
        &:active,
        &:focus {
            color: $color-rm-red;
        }
    }

    &__lottie {
        margin: auto 0.5em;
    }

    &__inner {
        top: 0;
        left: 0;
        height: $mq-xs;
        width: $mq-xs;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        text-shadow: 0 0 3px #000;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;

        &:hover,
        &:active,
        &:focus {
            opacity: 0.9;
        }

        p {
            padding-top: 9em;
        }
    }
}

.postcolumn3 {
    flex: 1;
    /* border: 1px solid gray;*/
    margin: 2px;
    padding: 10px;
    max-width: 10em;
    font-size: 0.9em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    a {
        transition: color 0.3s ease-in-out;
        margin: auto 0.5em;

        &:hover,
        &:active,
        &:focus {
            color: $color-rm-red;
        }
    }

    &__inner {
        top: 0;
        left: 0;
        height: 10em;
        width: 10em;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        text-shadow: 0 0 3px #000;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;

        &:hover,
        &:active,
        &:focus {
            opacity: 0.9;
        }

        p {
            padding-top: 9em;
        }
    }
}

.slcolumn {
    flex: 1;
    /* border: 1px solid gray;*/
    margin: 2px;
    padding: 10px;
    font-size: 0.9em;
    top: 0;
    left: 0;
    width: 32em;
    height: 18em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    a {
        transition: color 0.3s ease-in-out;
        margin: auto 0.5em;

        &:hover,
        &:active,
        &:focus {
            color: $color-rm-red;
        }
    }

    &__inner {
        top: 0;
        left: 0;
        width: 32em;
        height: 18em;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;
        text-shadow: 0 0 3px #000;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;

        &:hover,
        &:active,
        &:focus {
            opacity: 0.9;
        }

        p {
            padding-top: 6em;
        }
    }
}