---
layout: default
---
<article class="bg-black" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="bio-mast bg-alpha">
        <figure class="absolute-bg" style="background-image: url('{{ page.image }}');"></figure>
    </header>

    <div class="grid--double">
        <section class="bio section-padding--half bg-black" itemprop="articleBody">
            <header class="bio-header">
                <h1 itemprop="name headline">{{ page.title }}</h1>
                <h3 itemprop="name subtitle">{{ page.subtitle }}</h3>
                <div class="bio__container grid">
                    {% if page.sms.size > 0 %}
                    <ul class="bio__social">
                        {% if page.website %}
                        <li><a class="fas fa-globe" href="{{ page.website }}"></a></li>
                        {% endif %}
                        {% for sm in page.sms %}
                        <li><a class="fab fa-{{ sm.social-fa }}" href="{{ sm.social-ext }}" target="_blank"></a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </header>
            <div class="bio-content">
                {{ content }}
            </div>
        </section>
    </div>
</article>