---
layout: default
---
<article class="bg-black" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-mast bg-alpha">
        <figure class="absolute-bg" style="background-image: url('{{ page.image }}');"></figure>
    </header>

    <div class="grid--double">
        <section class="post section-padding--half bg-black" itemprop="articleBody">
            <header class="post-header">
                <h1 itemprop="name headline">{{ page.title }}</h1>
                <time class="post-header__time" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
            </header>
            <div class="post-content">
                {{ content }}
            </div>

            {% if page.rscs.size > 0 %}
            <section class="section-padding bg-black">
                <div class="grid">
                    {% for rsc in page.rscs %}
                    <ul class="container-triple" itemscope itemtype="http://schema.org/Blog">
                        {% for item in rsc.rsc-items %}
                        <li class="preview" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
                            <a class="preview__link" href="{{ item.rsc-link }}" itemprop="url">
                                <div class="preview__img bg-white wow slideInUp">
                                    <h4 class="wow fadeInUp" data-wow-delay="150ms" itemprop="name">{{ item.rsc-name }}</h4>
                                    <figure class="absolute-bg wow fadeIn" data-wow-delay="900ms" style="background-image: url('{{ item.rsc-img }}');"></figure>
                                </div>
                                <div class="preview__container bg-alpha">
                                    <div>
                                        <p class="preview__excerpt wow fadeInUp" data-wow-delay="300ms" itemprop="description">{{ item.rsc-description | strip_html | truncatewords: 30 }}</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
            </section>
            {% endif %}

            <!-- 
               {% if page.tags.size > 0 %}
                   <span class="post-content__tags">
                        Tags
                        {% for tag in page.tags %}
                        <a href="{{ site.baseurl }}/tag/{{ tag | downcase | slugify }}">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </span>
                {% endif %}
            -->
            <div class="container-btn">
                <a class="btn" href="/archive">
                    <div>
                        <span>Archive</span>
                        <span>Archive</span>
                    </div>
                </a>
            </div>
        </section>
    </div>
</article>