---
layout: default
---
<article class="bg-black" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-mast bg-alpha">
        <figure class="absolute-bg" style="background-image: url('{{ page.image }}');"></figure>
    </header>

    <div class="grid--double">
        <section class="post section-padding--half bg-black" itemprop="articleBody">
            <header class="post-header">
                <h1 itemprop="name headline">{{ page.title }}</h1>
                <time class="post-header__time" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
            </header>
            <div class="post-content">
                {{ content }}
            </div>

            <div class="container-btn">
                <a class="btn" href="/archive">
                    <div>
                        <span>Archive</span>
                        <span>Archive</span>
                    </div>
                </a>
            </div>
        </section>
    </div>
</article>