---
layout: default
---
<article class="bg-black" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-mast bg-alpha">
        <figure class="absolute-bg" style="background-image: url('{{ page.image }}');"></figure>
    </header>

    <div class="grid--double">
        <section class="post section-padding--half bg-black" itemprop="articleBody">
            <header class="post-header">
                <h1 itemprop="name headline">{{ page.title }}</h1>
                <time class="post-header__time" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
            </header>
            <div class="post-content">
                {{ content }}
            </div>

            {% if page.mandelbulbgrid.size > 0 %}
            <section class="section-padding bg-black">
                <div class="postgrid">
                    <div class="columns-wrapper">
                        <div class="columns">
                            {% for item in page.mandelbulbgrid %}
                            <a href="{{ item.var2 }}">
                                <div class="postcolumn" style="background-image: url({{ item.var3 }})">
                                    <div class="postcolumn__inner"><p> {{ item.var1 }} </p></div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            {% endif %}

            {% if page.everydaysgrid.size > 0 %}
            <section class="section-padding bg-black">
                <div class="postgrid">
                    <div class="columns-wrapper">
                        <div class="columns">
                            {% for item in page.everydaysgrid %}
                            <a href="{{ item.var2 }}">
                                <div class="postcolumn" style="background-image: url({{ item.var3 }})">
                                    <div class="postcolumn__inner"><p> {{ item.var1 }} </p></div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            {% endif %}

            {% if page.alphabetgrid.size > 0 %}
            <section class="section-padding bg-black">
                <div class="postgrid">
                    <div class="columns-wrapper">
                        <div class="columns">
                            {% for item in page.alphabetgrid %}
                            <a href="{{ item.var2 }}">
                                <div class="postcolumn" style="background-image: url({{ item.var3 }})">
                                    <div class="postcolumn__inner"><p> {{ item.var1 }} </p></div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            {% endif %}

            {% if page.bodymovin %}
                <script src="/assets/js/lottie.js" type="text/javascript"></script>
                <div class="lottie intro-bm" id="bm_namereveal"></div>
                <script>
                    function nameReveal() {
                        var anim;
                        var namereveal = {
                            container: document.getElementById('bm_namereveal'),
                            renderer: 'svg',
                            loop: false,
                            autoplay: true,
                            path: 'assets/bodymovin/namereveal.json'
                        };
                        anim = lottie.loadAnimation(namereveal);
                        anim.play();
                    }
                    nameReveal();
                </script>
            {% endif %}

           {% if page.tags.size > 0 %}
                <div class="container-tags">
                    <span class="post-content__tags">tags:
                        {% for tag in page.tags %}
                        <a href="{{ site.baseurl }}/tags#{{ tag }}"></a>
                        {% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </span>
                </div>
            {% endif %}

            <div class="container-btn">
                <a class="btn" href="/portfolio">
                    <div>
                        <span>Portfolio</span>
                        <span>Portfolio</span>
                    </div>
                </a>
            </div>
        </section>
    </div>
</article>