<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% if page.url == "/" %}{{ site.title }}{% else %}{{ page.title }} – {{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.url == "/" %}{{ site.description | strip_html | xml_escape }}{% elsif page.description %}{{ page.description | strip_html | xml_escape }}{% else %}{{ page.excerpt | strip_html | xml_escape }}{% endif %}">
  <meta name="twitter:image" content="{{ page.image | absolute_url }}">

  <!-- Facebook OpenGraph -->
  <meta property="og:title" content="{% if page.url == "/" %}{{ site.title }}{% else %}{{ page.title }} – {{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.url == "/" %}{{ site.description | strip_html | xml_escape }}{% elsif page.description %}{{ page.description | strip_html | xml_escape }}{% else %}{{ page.excerpt | strip_html | xml_escape }}{% endif %}">
  <meta property="og:image" content="{{ page.image | absolute_url }}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta property="og:type" content="article" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">

  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;900&display=swap" as="style">

  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700;900&display=swap" rel="stylesheet">


  <!-- Ionicons -->
  <link rel="preload" href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" as="style">

  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/tool-alert-checker.css">
  <script src="{{ site.baseurl }}/js/jquery-3.6.0.min.js"></script>
  <script src="{{ site.baseurl }}/js/alert-checker.js"></script>

  <script>
    {% if site.color_scheme == "auto" %}
    if (localStorage.getItem("theme") === "dark") {
      document.documentElement.setAttribute("dark", "");
      document.documentElement.classList.add('dark-mode');
    }
    {% elsif site.color_scheme == "light" %}
      document.documentElement.setAttribute("light", "");
      document.documentElement.classList.add('light-mode');
    {% elsif site.color_scheme == "dark" %}
      document.documentElement.setAttribute("dark", "");
      document.documentElement.classList.add('dark-mode');
    {% else %}
    if (localStorage.getItem("theme") === "dark") {
      document.documentElement.setAttribute("dark", "");
      document.documentElement.classList.add('dark-mode');
    }
    {% endif %}
  </script>

  <style>
  {% capture include_to_scssify %}
    {% include main.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
</head>

<body>
  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main>
  <!-- end content -->

  {% include footer.html %}

  <script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script src="{{ site.baseurl }}/js/common.js"></script>
</body>
</html>