/**
 * Base Variables
 */
$font-header: "Varela Round", sans-serif;
$font-body: "Nunito", sans-serif;

$color-black: #141414;
$color-grey: #292929;
$color-white: #ffffff;
$color-red: #00ffff;
$color-rm-red: #8c0303;

$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;
